body {
  margin: 0;
}

.app-body {
  max-width: 35em;
  min-height: 100vh;
  padding: 1em;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  margin: 0 auto;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  & > button {
    margin-left: 10px;
  }

  & > :nth-child(2) {
    flex: 1;
    margin-left: 0;
  }
  font-family: sans-serif;
}

.app-title {
  margin: 0;
  padding: 0 10px 0 0;
  height: 1em;
}
