.note-editor-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 14px 0;
  margin: 14px 0 0 0;
  border-top: 1px dotted #ccc;
  & * {
    z-index: 0;
  }
  font-size: 1.1em;
}
